{% extends "base.html" %} 
{% block content %}
    <h1>{{ user.username }}'s saved anime list</h1>
		<br>
		<table id="userlists">
			<tr>
				<th>#</th>
				<th>Anime</th>
				<th>Year</th>
				<th>Type</th>
				<th>Episodes</th>
				<th>Status</th>
			</tr>
			{% for a in user.userlist.anime_in_list.all %}
				<tr>
					<td>
						<form action ="/remove_from_list/" method="POST">
							{% csrf_token %}
							{{forloop.counter}}: <button type="submit" class="button3" name ="removeAnime" value="{{ a.id }}"><span>Remove from list</span></button>
						</form>
					</td>
					<td><img class ="rounded-circle article-img" src= "{{a.picture}}" alt="Anime Thumbnail"> {{ a.title }}</td>
					<td>{{ a.year }}</td>
					<td>{{ a.type }}</td>
					<td>{{ a.episodes }}</td>
					<td>{{ a.status }}</td>
				</tr>
			{% endfor %} 
		</table>
    
{% endblock content %}